@import 'fontawesome-all';
@import 'normalize';


$main-blue: #0b162a;
$light-blue: #292f43;
$hover-blue: #343b54;
$icons-blue: #747c99;
$basic-white: #FFF; 
$main-red: #ed1e24;
$dark-red: #da171d;
$err-msg-bg: #ffdddd;
$err-msg-border: #ff9e9e;
$btn-grey: #5d6173;
$btn-grey-dark: #4e5261;
$loader-grey: #bababa;
$loader-grey-bg: #f5f5f5;

html {
    font-size: 16px;
    height: 100%;
}

body {
    height: calc(100% - 80px);
    font-family: 'Poppins', sans-serif;
    background-color: $main-blue;
}

.main-body-bg {
    background: url(../img/main-bg.jpg) no-repeat center center fixed;
    background-size: cover;
    background-color: $main-blue;
}

.root,
.container,
.main {
    height: 100%;
}

button {
    border: 0;
    outline: none;
}

input[type="text"],
input[type="email"],
input[type="number"],
input[type="password"],
select {
    font-weight: 400;
    font-size: 1.125rem;
    color: #676767;
    border: 1px solid #d7d7d7;
    padding: 15px 20px;
    outline: 0;
    box-sizing: border-box;
    box-shadow: 0 0 0 30px white inset;
    -webkit-box-shadow: 0 0 0 30px white inset;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
input[type="password"]:focus {
    color: $main-blue;
    border-color: #999;
}

input[type="text"]:focus + div,
input[type="email"]:focus + div,
input[type="number"]:focus + div,
input[type="password"]:focus + div {
    border-color: #999;
}

input[type="submit"] {
    border: 0;
}

input[type="checkbox"] {
    display: none;
    +label::before {
        content: '';
        text-align: center;
        width: 21px;
        height: 21px;
        line-height: 21px;
        font-size: 1.15rem;
        font-family: FontAwesome;
        margin-right: 20px;
        display: inline-block;
        vertical-align: text-top;
        border: 1px solid #d7d7d7;
        transition: all 0.2s ease;
    }
    +label:hover {
        &::before {
            border-color: $main-red;
        }
    }
    &:checked {
        &+label::before {
            border-color: #d7d7d7;
            font-family: 'Font Awesome\ 5 Free';
            font-weight: 900;
            content: '\f00c';
            color: $main-red;
            animation-name: checkbox-effect;
            animation-duration: .2s;
            animation-iteration-count: 1;
            animation-timing-function: ease;
        }
    }
}

input[type="radio"] {
    display: none;
    +label {
        margin-right: 30px;
    }
    +label::before {
        content: '';
        text-align: center;
        width: 21px;
        height: 21px;
        line-height: 21px;
        font-size: .6rem;
        font-family: FontAwesome;
        margin-right: 20px;
        display: inline-block;
        vertical-align: text-top;
        border: 1px solid #d7d7d7;
        transition: all 0.2s ease;
        border-radius: 50%;
    }
    +label:hover {
        &::before {
            border-color: $main-red;
        }
    }
    &:checked {
        &+label::before {
            border-color: #d7d7d7;
            font-family: 'Font Awesome\ 5 Free';
            font-weight: 900;
            content: '\f111';
            color: $main-red;
            animation-name: radio-effect;
            animation-duration: .2s;
            animation-iteration-count: 1;
            animation-timing-function: ease;
        }
    }
}

label {
    color: #676767;
    font-size: 1.125rem;
}

label:hover {
    cursor: pointer;
}

a {
    color: $main-blue;
    text-decoration: none;
    transition: all 0.2s ease;
    &:hover {
        color: $main-red;
    }
}

ul {
    margin: 0;
    padding: 0;
}

.fluid-img {
    height: auto;
}

.visibility-none {
    visibility: hidden;
}

.text-red {
    color: $main-red;
}

.pull-right {
    margin: 0 0 0 auto;
}

.pull-left {
    margin: 0 auto 0 0;
}

.display-inline-block {
    display: inline-block;
    margin-left: 15px;
}

.fade-enter {
    opacity: 0;
}
  
.fade-enter-active {
    opacity: 1;
    transition: opacity 0.2s ease;
}
  
.fade-exit {
    opacity: 1;
}
  
.fade-exit-active {
    opacity: 0;
    transition: opacity 0.2s ease;
}

.fade-exit-done {
    display: none;
}

header {
    position: fixed;
    display: flex;
    left: 0;
    top: 0;
    width: 100%;
    height: 80px;
    z-index: 999;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    color: $basic-white;
    background-color: $main-blue;
    padding: 0 60px;
    box-sizing: border-box;
}

.mobile-burger {
    display: none;
    font-size: 1.5rem;
    &:hover {
        cursor: pointer;
        color: $main-red;
    }
}

.btn {
    position: relative;
    display: inline-block;
    color: $basic-white;
    text-transform: uppercase;
    font-size: 0.9rem;
    font-weight: 500;
    padding: 13px 19px;
    transition: all 0.2s ease;
    &:hover {
        color: $basic-white;
        cursor: pointer;
    }
    &--red {
        background-color: $main-red;
        &:hover {
            background-color: $dark-red;
        }
    }
    &--grey {
        background-color: $btn-grey;
        &:hover {
            background-color: $btn-grey-dark;
        }
    }
    &--grey-steam {
        background-color: $btn-grey;
        i {
            font-size: 1rem;
            margin-left: 15px;
        }

        &::before,
        &::after {
            content: "";
            opacity: 0;
            transition: opacity 0.2s ease;
        }

        &:hover::before {
            opacity: 1;
            top: 0;
            left: 0;
            position: absolute;
            content: "";
            width: 100%;
            height: 1px;
            background: linear-gradient(to right, #5d6173 0%,#838baa 50%,#5d6173 100%);
            transition: opacity 0.2s ease;
        }
        &:hover::after {
            opacity: 1;
            bottom: 0;
            left: 0;
            position: absolute;
            content: "";
            width: 100%;
            height: 1px;
            background: linear-gradient(to right, #5d6173 0%,#838baa 50%,#5d6173 100%);
            transition: opacity 0.2s ease;
        }
    }
}

.logo {
    flex-grow: 1;
}

.navigation {
    display: flex;
    align-items: center;
    &--mobile {
        flex-direction: column;
    }
}

.menu {
    ul{
        height: 80px;
    }
    li {
        height: 100%;
        float: left;
        list-style: none;
        margin: 0 50px 0 0;
    }
    a {
        height: 100%;
        display: block;
        position: relative;
        font-weight: 500;
        font-size: 1.125rem;
        color: $basic-white;
        padding: 30px 0;
        box-sizing: border-box;
        &:hover::after {
            content: "";
            bottom: 0;
            left: 50%;
            width: 100%;
            height: 5px;
            transform: translate(-50%, 0);
            position: absolute;
            background-color: $main-red;
            animation-name: nav-hover;
            animation-duration: .3s;
            animation-iteration-count: 1;
            animation-timing-function: ease-out;
        }
    }
}

.socials {
    li {
        float: left;
        list-style: none;
        &:first-child {
            margin: 0 0 0 20px;
        }
        &:last-child {
            margin: 0 0 0 10px;
            padding-right: 0;
        }
        a {
            color: $btn-grey;
            font-size: 1rem;
            padding: 10px;
            transition: all 0.2s ease;
            &:hover {
                color: $basic-white;
            }
        }
    }
}

.container {
    display: flex;
    width: 100%;
    margin-top: 80px;
}

// Login Page Styles

.login-container {
    display: flex;
}

.login-box {
    background-color: $basic-white;
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.1);
    margin: 170px 90px 0 90px;
    padding: 60px 60px 25px 60px;
    max-width: 675px;
    box-sizing: border-box;
    h1 {
        color: $main-blue;
        font-size: 2.25rem;
        font-weight: 600;
        line-height: 3rem;
        margin: 0 0 50px 0;
    }
    h2 {
        font-weight: 700;
        font-size: 1.875rem;
        line-height: 1.875rem;
        margin: 0;
    }
    form {
        width: 100%;
        margin: 0 0 60px 0;
    }

    button {
        border: 0;
    }

    input[type="text"],
    input[type="email"],
    input[type="password"] {
        order: 2;
        flex-grow: 1;
        border-left: 0;
    }
    &__row {
        display: flex;
        align-items: center;
        width: 100%;
        font-size: 1.125rem;
        margin: 0 0 35px 0;
        span {
            margin: 0 16px;
        }
    }
    &__input-icon {
        order: 1;
        width: 52px;
        color: $main-blue;
        font-size: 1.125rem;
        padding: 15px 20px;
        border: 1px solid #d7d7d7;
        box-sizing: border-box;
    }
    &__err-msg {
        width: 100%;
        flex: 1 0 auto;
        margin-bottom: 35px;
        p {
        width: 100%;
        min-height: 40px;
        box-sizing: border-box;
        background-color: $err-msg-bg;
        color: $main-red;
        line-height: 1.5rem;
        font-size: 1rem;
        margin: 0 0 2px 0;
        padding: 10px 25px;
        transition: all 0.2s ease;
        border-left: 10px solid $err-msg-border;
        }
    }
    &__ribbon {
        margin-right: -70px;
        display: flex;
        align-items: center;
    }
    &__register {
        margin: 0 !important;
    }
}

// Main Page Styles 

.status {
    display: inline-block;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    margin-right: 5px;
    &--online {
        background-color: #2db82d;
    }
    &--offline {
        background-color: #676767;
    }
}

.sidebar {
    z-index: 999;
    position: fixed;
    display: flex;
    height: 100%;
    color: $basic-white;
    font-size: 1rem;
    min-width: 270px;
    background-color: #1c2134;
    &__content {
        padding: 40px 0 0 0;
        box-sizing: border-box;
        display: flex;
        width: 100%;
        margin-bottom: 80px;
        overflow-y: auto;
        flex-direction: column;
        align-items: center;
    }
    &__avatar {
        flex: 0 0 auto;
        position: relative;
        font-size: 3rem;
        background-color: #292f43;
        border-radius: 50%;
        padding: 26px 32px; 
        .sidebar__number {
            position: absolute;
            right: 5px;
            top: 5px;
        }
    }
    &__number {
        border-radius: 50%;
        padding: 3px 7px;
        background-color: $main-red;
        font-size: 0.9rem;
    }
    &__username {
        flex: 0 0 auto; 
        font-size: 1.10rem;
        margin: 25px 0;
    }
    &__nav {
        width: 100%;
        .sidebar__number {
            display: inline-block;
            margin-left: 15px;
        }
        li {
            list-style: none;
            width: 100%;
        }
        li:last-child {
            margin: 40px 0;
        }
        a {
            width: 100%;
            box-sizing: border-box;
            position: relative;
            display: block;
            color: $basic-white;
            background-color: $light-blue;
            padding: 15px 20px;
            border-bottom: 1px solid #1c2134;
            i {
                color: $icons-blue;
                margin-right: 20px;
                transition: all 0.2s ease;
            }
            &::after {
                content: "";
                opacity: 0;
                transition: opacity 0.8s ease;
            }
            &:hover {
                background-color: $hover-blue;
                i {
                    color: $basic-white;
                }
            }
            &:hover::after {
                opacity: 1;
                content: "";
                position: absolute;
                top: 0;
                right: 0;
                width: 25%;
                height: 100%;
                border-right: 5px solid $main-red;
                background: linear-gradient(to right, #343b54 0%,#343b54 30%,#6b3346 100%);
                transition: opacity 0.8s ease;
            } 
        }
    }
    &__ver {
        color: $icons-blue;
        font-size: 0.75rem;
        text-transform: uppercase;
        padding: 30px 0;
    }
}

.main {
    margin-left: 270px;
    height: 100%;
    flex-grow: 1;
    width: 100%;
    background-color: $basic-white;
}

.main-white {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    width: 100%;
    color: #676767;
    font-size: 1rem;
    padding: 30px 15px;
    background-color: $basic-white;
    box-sizing: border-box;
}

.main-white--with-header {
    min-height: calc(100% - 245px);
}

.search {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    padding: 0 15px;
    button {
        position: absolute;
        left: 15px;
    }
    &__icon {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 52px;
        padding: 19px;
        font-size: 0.875rem;
        color: $basic-white;
        background-color: $main-red;
        box-sizing: border-box;
    }
    &__input {
        display: flex;
        input[type="text"] {
            min-width: 400px;
            border-left: 0;
        }
    }
}

.filters {
    padding: 25px 30px;
    margin: 30px -15px 0 -15px;
    border-top: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
    ul {
        display: flex;
        li {
            list-style: none;
            margin-right: 30px;
            color: #676767;
            user-select: none;
            i {
                width: 16px;
                height: 16px;
                margin-right: 10px;
            }
            &:hover {
                cursor: pointer;
                color: $main-red;
            }
        }
    }
}

.games-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top: 30px;
}

.game {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 0 15px 40px 15px;
    width: calc((100% - 210px) / 7);
    &__thumbnail {
        opacity: 1;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 900;
        height: 100%;
        &--hide {
            opacity: 0;
        }
    }
    a {
        display: block;
        height: 100%;
    }
    &:hover img {
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.4);
        transition: all 0.2s ease;
    }
    img {
        width: 100%;
        transition: all 0.2s ease;
    }
    &__info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #ebebeb;
    }
    &__title {
        flex-shrink: 1;
        padding: 0 0 15px 0;
        white-space: nowrap;
        overflow: hidden;
        a {
            &:hover p{
                color: $main-red;
            }
        }
        p {
            margin: 15px 0 5px 0;
            color: $main-blue;
            font-size: 1rem;
        }
    }
    &__fav {
        font-family: 'Font Awesome\ 5 Free';
        font-style: normal;
        font-weight: 400;
        font-size: 1.375rem;
        margin-left: 5px;
        &::after {
            content: '\f004'
        }
        &:hover {
            cursor: pointer;
            color: $main-red;
        }
        &--faved {
            font-family: 'Font Awesome\ 5 Free';
            font-weight: 900;
            cursor: pointer;
            color: $main-red;
        }
        &--clicked {
            color: $main-red;
            font-family: 'Font Awesome\ 5 Free';
            font-weight: 900;
            animation-name: favIcon;
            animation-duration: .5s;
            animation-timing-function: ease-in-out;
        }
    }
}

// Game Rooms Styles

.room-header {
    display: flex;
    width: 100%;
    height: 220px;
    padding: 25px 30px;
    margin-bottom: 25px;
    align-items: center;
    background: url(../img/game-room-header.jpg) no-repeat center center;
    background-size: cover;
    box-sizing: border-box;
    a {
        margin-bottom: -50px;
        &:hover img {
            box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.4);
        }
        img {
            transition: all 0.2s ease;
        }
    }
}

.rooms {
    display: flex;
    flex-direction: column;
    margin: 0 -15px;
}

.single-room {
    border-bottom: 1px solid #ebebeb;
    display: flex;
    flex-direction: column;
    padding-top: 25px;
    background-color: $basic-white;
    transition: all 0.2s ease;
    &:hover {
        background-color: #fafafa;
    }
    &__info {
        display: flex;
        align-items: center;
        padding:0 65px 25px 65px;
        box-sizing: border-box;
    }
    &__players {
        text-align: center;
        margin-right: 55px;
        i {
            display: block;
            font-size: 1.875rem;
            margin-bottom: 5px;
        }
        span {
            font-size: 1.125rem;
        }
    }
    &__name {
        margin-right: 55px;
        h3 {
            color: $main-blue;
            font-size: 1.375rem;
            margin: 0;
            font-weight: 600;
        }
        p {
            margin-bottom: 0;
        }
    }
    &__tags {
        float: left;
        margin-right: 20px;
        li {
            text-transform: uppercase;
            float: left;
            list-style: none;
            background-color: #edeef0;
            border-radius: 15px;
            padding: 5px 15px;
            margin-right: 10px;
        }
    }
    &__join {
        display: flex;
        align-items: center;
        div:first-of-type {
            margin-right: 30px;
        }
        i {
            font-size: 1.375rem;
        }
    }
    &__options {
        float: left;
        width: 100%;
        border-top: 1px solid #ebebeb;
        padding: 10px 65px;
        box-sizing: border-box;
        li {
            float: left;
            list-style: none;
            margin-right: 30px;
            i {
                color: $main-red;
                margin-right: 10px;
            }
        }
    }
}

// Chat Styles 

.room {
    overflow: auto;
    flex: 1 1 auto;
    max-height: 100%;
    display: flex;
    margin: 0 -15px -30px -15px;
    border-top: 1px solid #ebebeb;
    &__chat {
        display: flex;
        flex-direction: column;
        width: 80%;
        border-right: 1px solid #ebebeb;
        form {
            display: flex;
            flex-wrap: wrap;
            padding: 35px 65px;
        }
        input[type="text"] {
            width: 100%;
            border-right: 0;
        }
        button {
            padding: 19px;
        }
    }
    &__scrollTo {
        clear: both;
    }
    &__row {
        width: 100%;
        display: flex;
    }
    &__messages {
        height: 300px;
        flex: 1 1 auto;
        max-height: 100%;
        overflow: auto;
        padding: 35px 65px 0 65px;
        border-bottom: 1px solid #ebebeb;
    }
    &__users {
        width: 20%;
        padding: 35px;
        display: flex;
        flex-direction: column;
    }
}

.msg,
.user-msg {
    position: relative;
    display: flex;
    width: 70%;
    align-items: flex-start;
    padding-bottom: 30px;
    &__avatar {
        position: relative;
        color: #969696;
        font-size: 1.5rem;
        background-color: #edeef0;
        border-radius: 50%;
        padding:15px 17px;
        &__dot {
            position: absolute;
            bottom: 0;
        }
    }
    &__content {
        p {
            color: $main-blue;
            font-size: 1rem;
            margin-top: 0;
            span {
                float: right;
                color: #969696;
                font-size: 0.875rem;
            }
        }
        position: relative;
        width: 100%;
        margin: 0 0 0 25px; 
        border-radius: 15px;
        padding: 20px 25px;
        background-color: #f7f7f7;
    }
    &__content::before {
        content: "";
        position: absolute;
        width: 0; 
        height: 0; 
        border-top: 8px solid transparent;
        border-bottom: 8px solid transparent; 
        border-right: 8px solid #f7f7f7;
    }
}

.msg {
    &__content::before {
        left: -8px;
    }
}

.user-msg {
    float: right;
    &__avatar {
        order: 2;
        color: #8f92b0;
        background-color: #e6e8f9;
    }
    &__content {
        order: 1;
        margin: 0 25px 0 0;
        background-color: #e6e8f9;
        p {
            span {
                color: #8f92b0;
            }
        }
    }
    &__content::before {
        right: -8px;
        border-right: 0;
        border-left: 8px solid #e6e8f9;
    }
}

.user-online {
    display: flex;
    margin-bottom: 15px;
    p {
        margin-left: 15px;
        color: $main-blue;
    }
}

.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    &__header {
        font-weight: 700;
        font-size: 2rem;
        margin-bottom: 35px;
        i {
            float: right;
            &:hover {
                color: $main-red;
                cursor: pointer;
            }
        }
    }
    &__box {
        position: fixed;
        left: 50%;
        top: 50%;
        z-index: 1000;
        will-change: transform;
        transform: translate(-50.1%, -50.1%);
        width: 685px;
        max-width: 100%;
        max-height: 100%;
        background-color: $basic-white;
        box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.15);
        padding: 50px 60px 25px 60px;
        box-sizing: border-box;
        overflow: auto;
        input[type="text"],
        input[type="number"], {
            width: 100%;
            box-sizing: border-box;
        }
        select {
            width: 100%;
            margin-bottom: 35px;
        }
    }
    &__backdrop {
        position: fixed;
        z-index: 999;
        background-color: rgba(0, 0, 0, 0.6);
        width: 100%;
        height: 100%;
    }
}

.form {
    input[type="text"],
    input[type="number"], {
        margin-bottom: 35px;
    }
    &__row {
        margin-bottom: 35px;
        p {
            color: $main-blue;
            font-size: 1.25rem;
        }
    }
    &__tags {
        width: 100%;
        margin-bottom: 35px;
        vertical-align: middle;
        line-height: 16px;
        i {
            margin-left: 5px;
            line-height: 16px;
            vertical-align: middle;
            color: #999;
            font-size: .6rem;
            &:hover {
                cursor: pointer;
                color: $main-red;
            }
        }
    }
}

.with-label {
    position: relative;
    label {
        position: absolute;
        top: 16px;
        right: 20px;
        color: #999;
        font-size: 1rem;
    }
}

.ribbon {
    color: $basic-white;
    font-size: 1.375rem;
    padding: 20px 35px;
    text-transform: uppercase;
    background-color: $main-blue;
    border-right: 10px solid $main-red;
    a {
        font-size: 1.375rem;
        color: $basic-white;
        &:hover {
            color: $main-red;
        }
    }
    h2 {
        margin: 0;
    }
    &__stats {
        margin-left: 35px;
        span {
            margin: 0;
        }
    }
    div:first-of-type {
        i {
            margin-right: 10px;
        }
    }
}

.loader-container {
    position: relative;
}

.loader {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 800;
    width: 100%;
    height: 100%;
    div {
        position: absolute;
        display: flex;
        align-items: center;
        height: 13px;
        span {
            display: inline-block;
            width: 5px;
            height: 5px;
            margin: 0 3px 0 0;
            animation-name: loader;
            animation-duration: 1s;
            animation-timing-function: ease-in-out;
            animation-iteration-count: infinite;
            &:nth-child(2){
                animation-delay: .1s;
            }
            &:nth-child(3){
                animation-delay: .2s;
            }
            &:nth-child(4){
                animation-delay: .3s;
            }
            &:nth-child(5){
                animation-delay: .4s;
                margin: 0;
            }
        }
    }
    &--red-bg {
        background-color: $main-red;
        span {
            background-color: $basic-white;
        }
    }
    &--white-bg {
        background-color: $basic-white;
        span {
            background-color: $loader-grey;
        }
    } 
    &--grey-bg {
        background-color: $loader-grey-bg;
        span {
            background-color: $loader-grey;
        }
    }   
}

@keyframes loader {
    0% {
        height: 5px;
    }
    25% {
        height: 13px;
    }
    50% {
        height: 5px;
    }
    100% {
        height: 5px;
    }
}

@keyframes checkbox-effect {
    0% {
        font-size: 0rem;
    }
    50% {
        font-size: 1.4rem;
    }
    100% {
        font-size: 1.15rem;
    }
}

@keyframes radio-effect {
    0% {
        font-size: 0rem;
    }
    50% {
        font-size: .7rem;
    }
    100% {
        font-size: .6rem;
    }
}

@keyframes nav-hover {
    0% {
      width: 2px;
      height: 0;  
    }
    50% {
        width: 2px;
        height: 5px;
    }
    100% {
        width: 100%;
        height: 5px;
    }
}

@keyframes favIcon {
    0% {
        transform:  scale(0.8);
    }
    50% { 
        transform:  scale(1.1);
    }
    100% {
        transform:  scale(1);
    }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {  
    /* IE10+ specific styles go here */  
    .login-box {
        &__input-icon {
            line-height: normal;
        }
    }
 }

 @media (max-width: 425px) {
    .game {
        width: calc((100% - 40px) / 2);
        margin: 0 10px 40px 10px;
    }
 }

 @media (max-width: 570px) {
     .search {
         button {
             margin-bottom: 20px;
         }
         &__input {
             margin: 0 !important;
         }
         flex-direction: column;
     }
 }

 @media (max-width: 660px) {
    .login-box {
        margin: 170px 0 0 0;
        padding: 40px 40px 0px 40px;
        &__ribbon {
            display: none;
        }
        &__buttons {
            flex-wrap: wrap;
            justify-content: center;
        }
    }
 }

 @media (max-width: 750px) and (min-width: 426px) {
    .game {
        width: calc((100% - 40px) / 2);
        margin: 0 10px 40px 10px;
    }
 }

 @media (max-width: 750px) {
    header {
        padding: 0 20px;
    }
 }

 @media (max-width: 930px) {
    .sidebar {
        margin-left: -100%;
        transition: all 0.2s ease;
        &__mobile-show {
            margin-left: 0;
        }
    }
    .menu { 
        ul {
            height: 60px;
        }
        li {
            margin: 0 10px;
        }
        a {
            padding: 20px 0;
        }
    }
    .socials {
        margin-top: 10px;
        li:first-child,
        li:last-child {
            margin: 0;
        }
    }
    .hide-mobile-s {
        display: none;
    }
    .show-mobile-s {
        display: inline-block;
    }
    .main {
        margin-left: 0px;
    }
    .search {
        justify-content: space-between;
        button {
            position: initial;
        }
        &__input {
            flex-grow: 1;
            margin-left: 15px;
            input[type="text"] {
            width: calc(100% - 60px);
            min-width: auto;
            }
        }
    }
 }

 @media (max-width: 930px) and (min-width: 501px) {
    .game {
        width: calc((100% - 60px) / 3);
        margin: 0 10px 40px 10px;
     }
 }

 @media (max-width: 930px) and (min-width: 751px) {
    header {
        padding: 0 20px;
    }
}

@media (min-width: 931px) {
    .hide-desktop {
        display: none;
    }
}

 @media (max-width: 1320px) and (min-width: 931px) {
    .game {
       width: calc((100% - 80px) / 4);
       margin: 0 10px 40px 10px;
    }
    .search {
        justify-content: space-between;
        button {
            position: initial;
        }
        &__input {
            flex-grow: 0;
        }
    }
}

 @media (max-width: 1440px) and (min-width: 1321px) {
    .game {
       width: calc((100% - 100px) / 5);
       margin: 0 10px 40px 10px;
    }
}

 @media (max-width: 1850px) and (min-width: 1441px) {
     .game {
        width: calc((100% - 180px) / 6);
     }
 }

 @media (min-width: 2560px) {
    .game {
       width: calc((100% - 240px) / 8);
    }
}